<!DOCTYPE html>
<html>
 <head>
     <link rel="stylesheet" href="~/css/site.css" />
 </head>
 <body>
     <div class="page">
         <div class="header">

             <div class="nav">
                 <a>home</a>
                 <a>pagina 2</a>
                 <a>pagina 3</a>
             </div>
         </div>
         <div class="main">
             @RenderBody()
         </div>
         <div class="footer">
             <a>Volg ons op social media</a>
             
         </div>
     </div>
 </body>
</html>
