@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 70px;
    background-color: #282828;
}

header h1{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    color: #39ca74;
}

span{
    color: #ffffff
}

header ul{
    width: auto;
    float: right;
    margin-top: 8px;
}

header li{
    display: inline-block;
    padding: 15px 30px;
}

header a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2vw;
}

header a:hover{
    color: #F0c330;
    transition: 0,5s;
}



// {
    background-size: cover;
    background-position: left;
    padding: 0;
    margin: 0;
    font-family: monospace;

    
}



.simpleLogin form {
    max-width: 400px;
    margin: auto;
    background: #fefefd;
    box-shadow: 0 10px 10px #222;
}

    .simpleLogin form fieldset {
        border: 0 none;
        margin: 0;
        padding: 20px;
    }

        .simpleLogin form legend,
        .simpleLogin form fieldset input {
            font-family: Open Sans;
            font-size: 15px;
        }

    .simpleLogin form legend {
        background-color: fuchsia;
        border-top: 0 none;
        color: white;
        display: table-cell;
        padding: 10px 20px;
        width: auto;
    }

    .simpleLogin form fieldset input {
        width: 90%;
        margin: 10px 0;
        padding: 10px 5%;
        border: thin fuchsia solid;
    }

.simpleLogin input[type="submit"] {
    width: 100px;
    float: right;
    background: fuchsia;
    color: white;
    transition: .2s;
    border: 0;
    cursor: pointer;
}

    .simpleLogin input[type="submit"]:focus,
    .simpleLogin input[type="submit"]:hover,
    .simpleLogin input[type="submit"]:active {
        padding: 10px 5%;
        background: #B3E226;
        outline: none;
    }

footer {
    color: #000;
    background: #757573;
}

   footer::after {
       content: '';
       display: table;
       clear: both;
    }


.instagram {
    float: right;
    margin-right: 700px;
}

.facebook {
    float: left;
    margin-left: 50px;
}

footer h2 {
    margin-left: 50px;
}


