html{
    min-height: 100%;
    min-width: 100%;
}

//  {
    background-size: cover;
    background-position: left;
    padding: 50px;
    margin: 0px;
    font-family: monospace;
}

.nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    display: inline-block;
    margin-left: 100px;
    margin-right: 10px;
    padding-top: 23px;
    position: relative;
}


.nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.nav a:hover::before{
    width: 100%;
}

.simpleLogin form {
    max-width: 400px;
    margin: auto;
    background: #fefefd;
    box-shadow: 0 10px 10px #222;
}

    .simpleLogin form fieldset {
        border: 0 none;
        margin: 0;
        padding: 20px;
    }

        .simpleLogin form legend,
        .simpleLogin form fieldset input {
            font-family: Open Sans;
            font-size: 15px;
        }

    .simpleLogin form legend {
        background-color: fuchsia;
        border-top: 0 none;
        color: white;
        display: table-cell;
        padding: 10px 20px;
        width: auto;
    }

    .simpleLogin form fieldset input {
        width: 90%;
        margin: 10px 0;
        padding: 10px 5%;
        border: thin fuchsia solid;
    }

.simpleLogin input[type="submit"] {
    width: 100px;
    float: right;
    background: fuchsia;
    color: white;
    transition: .2s;
    border: 0;
    cursor: pointer;
}

    .simpleLogin input[type="submit"]:focus,
    .simpleLogin input[type="submit"]:hover,
    .simpleLogin input[type="submit"]:active {
        padding: 10px 5%;
        background: #B3E226;
        outline: none;
    }

footer {
    color: #000;
    background: #757573;
}

   footer::after {
       content: '';
       display: table;
       clear: both;
    }


.instagram {
    float: right;
    margin-right: 700px;
}

.facebook {
    float: left;
    margin-left: 50px;
}

footer h2 {
    margin-left: 50px;
}
