@model List<Eten>
@{
    ViewData["Title"] = "Eten";
}
<div class="eten">
    <ul>
        @foreach (Eten g in Model)
        {
            <li>
                <a class="goed" href="/gerecht/@g.Id">@g.Naam</a>
                

                <br />
                <br />
            </li>
        }
    </ul>
</div>

