@model Beaumigo.Models.Gerecht
@{
    ViewData["Title"] = "Gerecht";
}
<h1>@ViewData["id"]</h1>

<h1>@Model.Naam</h1>
<img src="@Model.Foto" height="300" width="450" />

<h2>Dit gerecht kost €@Model.Prijs</h2>
<p>Dit gerecht bevat de volgende ingrediënten</p>
<p>@Model.Ingredienten</p>