
@{
    ViewData["Title"] = "Home Page";
}
<p style="background-image: url(~/img/nacho.jpg);"> </p>
<div class="section_top">
    <div class="content">
        <h1>Welkom</h1>
        <img src="~/img/Studio_Project.png" alt="logo" height="200" width="200" />
      
    </div>
</div>

