
@{
    ViewData["Title"] = "Home Page";
}

<h1>Beaumigo taco's</h1>
<p> hi, welkom op deze taco site</p>
<p>Ben jij altijd op zoek naar het perfecte mexicaanse eten? dan ben je bij deze site op het juiste adres!</p>
wij hebben veel verschillende gerechten, onder andere :
<ul>
    <li>cheesy quaqomole</li>
    <li>mystery nachos </li>
    <li>Hot hot tacos</li>
    <li>green taco salad</li>
</ul> 
