
@{
    ViewData["Title"] = "Home Page";
}

<div class="section_top">
    <div class="content">
        <br />
        <br />
        <br />
        <h1>Welkom, op de beste taco site van de wereld</h1>
        <img src="~/img/Studio_Project.png" alt="logo" height="200" width="200" />
        <p> tacos, nachos en andere lekkere gerechten </p>
    </div>
</div>

