@model List<Locatie>
@{
    ViewData["Title"] = "Locatie";
}
<div class="locatie">
    <h1> locaties</h1>
    @foreach (Locatie l in Model)
    {
        <p>@l.straatnummer - @l.telefoonnummer - @l.postcode.</p>
       

    }
</div>


