@model List<string>
@{
    ViewData["Title"] = "Locatie";
}
<div class="text-center">
    <h1> locaties</h1>
    @foreach (string locaties in Model)
    {
        <p>@locaties</p>
       

    }
</div>


