@model List<Locatie>
@{
    ViewData["Title"] = "Locatie";
}


<div class="eten">
    <ul>
        @foreach (Locatie l in Model)
        {
            <li>
                <a class="goed" href="/straatnummer/@l.Id">@l.straatnummer</a>


                <br />
                <br />
            </li>
        }
    </ul>
</div>

