@{
    ViewData["Title"] = "Login";
}


<div class="simpleLogin">
    <form>
        <legend>Let's Login</legend>
        <fieldset>
            <input id="name" placeholder="username" name="username" type="text">
            <input id="pass" placeholder="Password" name="password" type="password">
            <input id="submit" type="submit" value="Log in">
        </fieldset>
    </form>
</div>
