@model Beaumigo.Models.Plaats
@{
    ViewData["Title"] = "Plaats";
}
<h1>@ViewData["id"]</h1>

<h1>Onze heerlijke tacos zijn onder andere te vinden in deze straat : @Model.Straatnummer</h1>

<h2>Je kunt ons bellen met het nummer : @Model.telefoonnummer</h2>
