@model Beaumigo.Models.Plaats
@{
    ViewData["Title"] = "Plaats";
}
<h1>@ViewData["id"]</h1>
<body>
    <h1>Onze heerlijke tacos zijn onder andere te vinden in deze straat : @Model.straatnummer</h1>
    <h2>De postcode is: @Model.postcode</h2>
    <h2>Je kunt ons bellen met het nummer : @Model.telefoonnummer </h2>
    <div class="map-responsive">
        
    </div>

</body>