viernulvier.cshtml;
@{
    ViewData["Title"] = "viernulvier";
}

<div class="notfound">
    <div class="notfoundtekst">
        <h1>O Heel erg sorry, deze pagina bestaat niet...</h1>

        <p class="hihi">De volgende dingen kunt u gaan proberen:</p>
    </div>

    <div class="stappenplan">
        <ul| class="stappen">
            <li>Is er sprake van een typefout de link?</li>
            <li>Probeer dan nog een paar keer om te refreshen.</li>
            <li>Probeer de link opnieuw in te voeren.</li>
            <li>Probeer om terug naar de <a href="/" class="linkhomestap">homepage</a> te gaan.</li>
            <li>Klik op het pijltje terug om terug te keren naar de vorige pagina.</li>
        </ul|>
    </div>

    <div class="gif">
        <img src="https://th.bing.com/th/id/R6eacd6887b47f35decc7cc01d8eadd7f?rik=2fL5j9eFCiRfQw&riu=http%3a%2f%2fwww.beth-david.org%2fwp-content%2fuploads%2f2018%2f07%2fsaying_im_sorry_richard_b_joelson.jpg&ehk=fx7HNYh%2bZtH1GuTWNzQZny93w965tss%2f3EoxJwHPB2I%3d&risl=&pid=ImgRaw" />
    </div>
</div>